body, html {
    height: 100%;
}
.bg{
    background-image: url("Hypergrowth-Background.jpg");
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.display-1 {
    font-family: 'Nunito', sans-serif;
    color:white;
    padding-bottom: 10px;
}

lead p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight:200;
    color:white;
    font-size:20px;
    padding-top:0;
    
}
.container h4 {
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    font-size:20px;

}

#listen{
}
.container h3{
    font-family: 'Nunito', sans-serif;
    padding-top: 40px;
}

 p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}
.lead{
    font-family: 'Nunito', sans-serif;
    color:white;
    margin-bottom: 80px;
}


.form-control{
    border-color:white;
    background-color:#363442;
    color:#363442;
}

.nav{
    background-color: #363442;
    color:white;
    padding-top: 5px;

}
.nav-item {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
}

.nav-link {
    color:white;
    text-decoration: none; 
    display: inline-block;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
    
  }
  
  .nav-link:hover::after {
    width: 100%;
    transition: width .3s;
    color:white;
  }
 
svg {
    margin-top:10px;
    margin-right:10px;
}

#googleplaymusic{
    margin-bottom:23px;
    height:38.013px;
    margin-right:10px;
    border-radius:5px;
}    

#subtitle {
    color:white;
    font-family: 'Nunito', sans-serif;
}

#anchor {
    width:132.791px;
    height:38.013px;
    border-radius: 12px;
    margin-bottom: 25px;
    margin-right:10px;
}

#stitcher {
    margin-bottom:30px;
}
#mm {
    height:50%;
    width:50%;
    padding-right:25px;
    margin-left:15px;
}

#mm2{
    margin-top:10px;
    height:10%;
    width:35%;

}
strong{
  font-style: italic;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

a {
    text-decoration: none;     
  }

iframe {
  margin-bottom:50px;
  margin-top: 20px;
}

#mc_embed_signup{
    background:#363442;
    clear:left; 
    font:18px "Nunito Sans",sans-serif; 
    width:100%;
    margin-right: 30px;
    margin-bottom:30px;

}


div.mc-field-group input{border-radius: 10px;background-color: #363442; border: 2px solid white;}

.button{
    color:white;
    background-color:#363442;
    font:14px "Nunito Sans",sans-serif; 
    border-radius:8px;
}


#mce-EMAIL::placeholder {
padding-left:10px;
}

